.ant-modal-content {
  background-color: #2f2f2f !important;
  color: #ffffff;
  .ant-modal-close {
    color: #ffffff;
  }
  .ant-modal-close:hover {
    color: #b9b9b9;
  }
  .ant-modal-header {
    background-color: #2f2f2f !important;
    color: #ffffff !important;
    .ant-modal-title {
      color: #ffffff !important;
    }
  }
}